* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: sans-serif;
    height: 100%;
}

header {
    grid-area: header;
    background-color: lightblue;
}

.header-logo {
    display: grid;
    grid-template-areas: 
    "logo h1"
    ;
    text-align: center; 
    flex-direction: column; 
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center; 
}

.gg-arrow-down-r {
    display: block;
    height: 1rem;
    transform: scale(var(--ggs,1));
    border-radius: 4px;
}

.header-logo h1{
    grid-area: h1;
}

main {
    background-color: white;
    padding: 1rem;
    height: 100%;
}

h2 {
    width: 100%;
}

footer {
    grid-area: footer;
    background-color: lightblue;
    text-align: center; 
    padding: 1rem;
}

.row {
    margin-bottom: 10px; 
}

label[required]:after {
    content: "*"; 
    color: red; 
    margin-left: 4px; 
}


input {
    padding: 5px;
    border: 1px solid #ccc;
}
  

@media (min-width: 700px) {
    .row {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .form-row label,
    .form-row input {
        width: 48%; 
    }
}


@media (max-width: 1000px) {
    html {
      font-size: 14px;
    }
}
  
@media(max-width: 50rem) {
    #homepage {
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;

        grid-template-rows: auto auto 1fr auto;
    }
}