.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: lightblue;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
.close-button:hover {
    color: #000;
}

.modal::backdrop {
    background-color: rgb(0 0 0 / 0.7 );
}