/* Navigation */
.menu {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, lightblue, white);
    padding: 0.1rem; /* Add padding for a cleaner look */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    justify-content: end;
}

.menu li {
    display: block;
    margin-bottom: 0.8rem;
}

.menu--hidden {
    display: none;
}

.menu li {
    display: inline-block;
    margin-right: 1.25em;
}

.menu li:hover a {
    background-color: lightyellow;
    color: darkblue;
    border-radius: 5px; /* Add rounded corners on hover */
    padding: 0.5rem; /* Add padding on hover for a button-like feel */
}

/* Existing styles for the navigation items */
.global-nav__item {
    margin-right: 1rem; /* Add some spacing between items */
}

.global-nav__link {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease; /* Add a smooth transition for background color */
}

.global-nav__link:hover {
    background-color: lightblue;
    color: white; /* Change text color on hover */
}

/* Desktop */
@media (min-width: 50rem) {
    .menu {
        display: flex;
        list-style-type: none;
        flex-direction: column;
    }

    .menu li {
        display: block;
        margin-bottom: 0.8rem;
    }

    .menu--hidden {
        display: flex;
        flex-direction: row;
    }

    /* hide the menu button */
    .menu__toggle {
        display: none;
    }
}
