.skiplink {
    position: absolute;
    top: -40px;
    left: 50%;
    background-color: #007bff;
    color: #fff;
    padding: 5px;
    z-index: 999;
    text-decoration: none;
    opacity: 0; 
  }
  
  .skiplink:focus,
  .skiplink:active {
    position: static;
    opacity: 1; 
  }
  